body
{
    background-color: grey;
}
button
{
    width: 200px;
    height: 200px;
    background-color: black;
    border: 2px solid white;
    border-radius: 26px;
    color: white;
    font-size: 2em;
    float:left;
}
button:hover
{
 background-color: white;
 color: black;
}